.logo {
    text-align: center;
    
}
.bienvenido {
    font-size: 40px;
    color: white;
    background-color: blue;
    background-size: 100%;
}
.parrafo {
   text-align: center;
   background-color:blue;
}
