body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #6200ff;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.destination {
        margin-bottom: 40px;
        text-align: center; /* Centra el contenido dentro de cada sección */
        border: 2px solid #000; /* Borde negro alrededor del contenedor */
        border-radius: 8px; /* Bordes redondeados */
        padding: 20px; /* Espaciado interno */
        background-color: #fff; /* Fondo blanco para el contenedor */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para mayor profundidad */
    }
.destination-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.destination h2 {
    color: #00bcd4; 
    font-size: 2em; 
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
}

.destination {
    margin-bottom: 20px;
}
.description {
    max-width: 500px; /* Ajusta el tamaño del contenedor del texto */
    font-size: 1.5em;
    color: #000000;
    line-height: 1.5;
    text-align: left; /* Alinea el texto a la izquierda */
}

 
.image-cordoba {
    width: 450px;
    height: 350px; 
}

.image-mar-del-plata {
    width: 400px; 
    height: 350px;
    text-align: center;
}

.image-chaco {
    width: 90%; 
    height: 400px;
    text-align: center;
}
footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color:#6200ff;
}

footer button {
    background-color: #00796b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

footer button:hover {
    background-color:#6200ff;
}
.precio {
    font-size: 1.77em;
    color: #c0a402;
    font-weight: bold;
    margin-top: 10px;
}