.logo {
    text-align: center;
    
}
.bienvenido {
    font-size: 40px;
    color: white;
    background-color: blue;
}
.parrafo {
    font-size:  28px;
    background-color: red;
    color: white;
}
